.wrapper {
  background-color: #2aabe1;
  height: 60px;
  display: flex;
  justify-content: center;
  color: white;
}

p {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 49px;
  margin: auto;
}

svg {
  fill: white;
  width: 39px;
  height: 39px;
}

.fix_cart_count {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: #fb3f4c;
  font-size: 13px;
  line-height: 1.3rem;
  min-width: 1rem;
  border-radius: 10px;
  font-family: 'Balsamiq Sans', cursive;
  padding: 0 0.2rem;
}

.basket-count {
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: auto 0;
  margin-right: 2rem
}

select {
  background: transparent;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  font-size: xx-large;
}

option {
  color: black;
}
