<div class="wrapper">
  <img src="{{good.imageUrl}}" alt="">
  <p class="available-amount">{{good.availableAmount}}</p>
  <p class="name">{{good.name}}</p>
  <!--  <p   ass="price">{{good.availableAmount}}</p>-->
  <p class="price">{{good.price}} {{good.priceMeasure}}</p>
  <ng-content></ng-content>
</div>

