.wrapper {
  /*width: 200px;*/
  /*height: 200px;*/
  position: relative;
  border: 3px solid #2aabe1;
  overflow: hidden;
}

img {
  height: inherit;
  width: inherit;
}

p {
  margin: 0;
  text-align: center;
  background-color: #2aabe1;
  font-family: 'Balsamiq Sans', cursive;
  color: white;
}

.price {
  width: inherit;
  background: #2aabe1;
  font-size: xx-large;
  text-align: center;
  color: whitesmoke;
}

svg {

}

.price:hover, p:hover {
  background-color: #2AABFB;
}

.available-amount {
  padding: 0 3px 0 2px;
  position: absolute;
  top: 0;
  background-color: #2aabe1;
}
