app-goods {
  /*width: 200px;*/
  /*height: 200px;*/
  margin: 1rem;
  padding: 0;
}

.wrapper {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

@media screen and (max-width: 709px) {
  .wrapper {
    justify-content: center;
  }
}
