<div>
  <div class="content-container">

    <!--    <mat-icon id="close-icon">close</mat-icon>-->
    <app-goods *ngFor="let dat of data" [good]="dat">
      <mat-icon (click)="deleteFromBasket(dat)">close</mat-icon>
    </app-goods>
    <div class="total-price" *ngIf="data.length > 0">Total price: {{getTotalPrice()}}</div>
    <div class="empty-basket" *ngIf="data.length === 0">There are no goods into basket</div>
<!--    <app-goods-list [goods]="data"></app-goods-list>-->
<!--    <div </div>-->
  </div>
</div>
