app-goods {
  position: relative;
  width: 300px;
}
app-goods .delete {

}

app-goods mat-icon {
  position: absolute;
  top: 0;
  right: 0;
}

mat-icon {
  color: red;
  cursor: pointer;
}

.empty-basket {
  font-size: xx-large;
  margin: auto;
  font-family: 'Balsamiq Sans', cursive;
}

.total-price {
  font-family: 'Balsamiq Sans', cursive;
  font-size: xx-large;
}
