<div class="wrapper">
  <p>Filters:</p>
  <div class="filter-type">
    <label for="">Type</label>
    <select name="type" id="">
      <option value="Books"></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
    </select>
  </div>
</div>
