.wrapper {
  background-color: #2aabe1;
  border-top: 3px solid white;
  height: 60px;
  display: flex;
}
p{
  color: white;
  font-size: xx-large;
  margin: auto 0;
  font-family: 'Balsamiq Sans', cursive;

}

div .filter-type{
  margin: auto 1rem;
  font-family: 'Balsamiq Sans', cursive;
  color: white;
}

option {
  color: black;
}
